<div class="modalenabled">
  <form action="/test-action" method="POST" name="testForm" up-target=".container" enctype="multipart/form-data">
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="who">Who</label>
        <input type="text" name="who" class="form-control" id="who" placeholder="Who" required autofocus >
      </div>

     

     
      <div class="col-auto my-1">
        <div class="form-check">
          <input type="checkbox" name="cute" class="form-check-input" id="cute">
          <label class="form-check-label" for="cute">Cute</label>
        </div>
      </div>
     

      <button type="submit" class="btn btn-primary">Sure?</button>
    </div>
  </form>
</div>